# Define X variables in file
cat > ~/.Xenv << EOF
export XAUTHORITY="$XAUTHORITY"
export DISPLAY="$DISPLAY"
export DBUS_SESSION_BUS_ADDRESS="$DBUS_SESSION_BUS_ADDRESS"
EOF

# Start screenlocker and lock after 5 minutes
xset s on
xset s 300
xss-lock --transfer-sleep-lock -- i3lock -c 222222 --nofork &

# Start notification daemon
dunst &

# Start clipboard manager
clipcatd -r &

# Map keyboard shortcuts
sxhkd &

# Kill any running instance of polybar
(sleep 3 && polybar-msg cmd quit ) &
# Start polybar after window manager
(sleep 4 && polybar main 2>&1 | tee -a /tmp/polybar.log ) & disown
# Workaround to hide polybar in fullscreen
(sleep 6 && xdo hide -n polybar && xdo show -n polybar) &

# Start colour temperature adjustment
redshift &
