# Define X variables in file
cat > ~/.Xenv << EOF
export XAUTHORITY="$XAUTHORITY"
export DISPLAY="$DISPLAY"
export DBUS_SESSION_BUS_ADDRESS="$DBUS_SESSION_BUS_ADDRESS"
EOF

# Start screenlocker and lock after 5 minutes
xset s on && xset s 300
xss-lock --transfer-sleep-lock -- i3lock -c 222222 --nofork &

# Start polkit agent
(sleep 1 && /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1) &

# Start keyboard shortcuts
(sleep 1 && sxhkd) &

# Start notification daemon
(sleep 1 && dunst) &

# Start clipboard manager
(sleep 1 && clipcatd -r) &

# Start colour temperature adjustment
(sleep 1 && redshift) &

# Start network manager tray icon
(sleep 1 && nm-applet) &

# Start polybar after window manager
(sleep 1 && polybar main 2>&1 | tee -a /tmp/polybar.log) & disown
