[Desktop Entry]
Type=Application
Name=Lock
GenericName=loginctl lock-session
Comment=Lock screen
Exec=loginctl lock-session
Icon=system-lock-screen
Categories=Utility
Terminal=false
