[Desktop Entry]
Type=Application
Name=Lock
GenericName=Lock
Comment=Lock screen
Exec=i3lock -c 333333
Icon=system-lock-screen
Categories=Utility
Terminal=false
