[Desktop Entry]
Type=Application
Name=Suspend
GenericName=systemctl suspend
Comment=Suspend computer
Exec=systemctl suspend
Icon=system-shutdown
Categories=Utility
Terminal=false
